/*
CSS file for variables
*/

:root{
    --primaryColor: darkolivegreen;
    --secondColor: white;
    --thirdColor: #feda4a;
    --bx_shadow: 5px 5px 15px grey;
    --tx_shadow: 1px 1px 3px dimgray;
}